@{
    Layout = "_MyLayout";
}

<h2>Kullanıcı Notu Gönder</h2>

<form method="post">
    <div class="form-group">
        <label>Notunuz:</label>
        <input type="text" name="note" class="form-control" required />
    </div>

    <button class="btn btn-primary mt-2">Gönder</button>
</form>

